Animal weigth form
[
    {
        "id": "d4384525475d2051",
        "type": "sf:949541c9b70110d5",
        "z": "ae72b941.c54948",
        "name": "",
        "API": "asset/animal",
        "Method": "GET",
        "credentials": {},
        "x": 250,
        "y": 640,
        "wires": [
            [
                "d67c9a1d34d1445f"
            ]
        ]
    },
    {
        "id": "1b4ed8658d016049",
        "type": "inject",
        "z": "ae72b941.c54948",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "d4384525475d2051"
            ]
        ]
    },
    {
        "id": "d67c9a1d34d1445f",
        "type": "split",
        "z": "ae72b941.c54948",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "8a54399e21d1a83c"
            ]
        ]
    },
    {
        "id": "8a54399e21d1a83c",
        "type": "split",
        "z": "ae72b941.c54948",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 640,
        "wires": [
            [
                "db0df28a61ba1df9"
            ]
        ]
    },
    {
        "id": "db0df28a61ba1df9",
        "type": "switch",
        "z": "ae72b941.c54948",
        "name": "Filter animals",
        "property": "payload.attributes.flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "monitor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "9e0fa6fb5b7dc62b"
            ]
        ]
    },
    {
        "id": "9e0fa6fb5b7dc62b",
        "type": "change",
        "z": "ae72b941.c54948",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload.attributes.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 640,
        "wires": [
            [
                "cf287a9f2c469279"
            ]
        ]
    },
    {
        "id": "cf287a9f2c469279",
        "type": "merge",
        "z": "ae72b941.c54948",
        "name": "",
        "timeout": "0",
        "x": 990,
        "y": 640,
        "wires": [
            [
                "2f8b34fa993266d9",
                "e0ae85f360f9fdc2"
            ]
        ]
    },
    {
        "id": "2f8b34fa993266d9",
        "type": "debug",
        "z": "ae72b941.c54948",
        "name": "debug 68",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0ae85f360f9fdc2",
        "type": "function",
        "z": "ae72b941.c54948",
        "name": "function 18",
        "func": "msg.options = [msg.payload.options];\nvar aID = flow.get(\"animalID\") || [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    msg.options[i] = msg.payload[i].options\n    msg.payload[i] = msg.payload[i].payload.id\n    aID[i] = msg.payload[i];\n}\nflow.set(\"animalID\", aID)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "c2a87e3565e05dbd",
                "8207a9ac9358fec7"
            ]
        ]
    },
    {
        "id": "c2a87e3565e05dbd",
        "type": "debug",
        "z": "ae72b941.c54948",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "8207a9ac9358fec7",
        "type": "ui_dropdown",
        "z": "ae72b941.c54948",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "e396e7e9f5db9aaa",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 260,
        "y": 700,
        "wires": [
            [
                "5e424d5b6f44d789",
                "e0ad773408ce42d0"
            ]
        ]
    },
    {
        "id": "5e424d5b6f44d789",
        "type": "debug",
        "z": "ae72b941.c54948",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 760,
        "wires": []
    },
    {
        "id": "e0ad773408ce42d0",
        "type": "function",
        "z": "ae72b941.c54948",
        "name": "function 19",
        "func": "msg.payload = flow.get(\"animalID[0]\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 700,
        "wires": [
            [
                "2dac2d1a4e7d1018"
            ]
        ]
    },
    {
        "id": "2dac2d1a4e7d1018",
        "type": "debug",
        "z": "ae72b941.c54948",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "e396e7e9f5db9aaa",
        "type": "ui_group",
        "name": "Farmos",
        "tab": "169f5145902ec68e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "169f5145902ec68e",
        "type": "ui_tab",
        "name": "FarmOS div",
        "icon": "fa-leaf",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
