graindryer.json
[
    {
        "id": "e0963f13c3b5dfa3",
        "type": "poll-state",
        "z": "ddcb28a9773dd3ac",
        "name": "Plantørke",
        "server": "282a7acb.e6d1d6",
        "version": 3,
        "exposeAsEntityConfig": "",
        "updateInterval": "60",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputInitially": true,
        "outputOnChanged": true,
        "entityId": "switch.eh_plantorke_plant_rke",
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputs": 2,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 380,
        "wires": [
            [
                "6b2ea85ec459b057",
                "1360fd70e2462b3a",
                "175a61bdbcba0ce5"
            ],
            []
        ]
    },
    {
        "id": "6b2ea85ec459b057",
        "type": "api-current-state",
        "z": "ddcb28a9773dd3ac",
        "name": "Strømpris",
        "server": "282a7acb.e6d1d6",
        "version": 3,
        "outputs": 2,
        "halt_if": "triggerPrice",
        "halt_if_type": "flow",
        "halt_if_compare": "lte",
        "entity_id": "sensor.nordpool_kwh_trheim_nok_2_10_025",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 320,
        "wires": [
            [],
            [
                "6cbd91f636a5aca8"
            ]
        ]
    },
    {
        "id": "6cbd91f636a5aca8",
        "type": "api-call-service",
        "z": "ddcb28a9773dd3ac",
        "name": "Stopp ved strømpris",
        "server": "282a7acb.e6d1d6",
        "version": 5,
        "debugenabled": true,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.eh_plantorke_plant_rke"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "82a5fbae371ffbd7"
            ]
        ]
    },
    {
        "id": "1360fd70e2462b3a",
        "type": "api-current-state",
        "z": "ddcb28a9773dd3ac",
        "name": "Temperatur",
        "server": "282a7acb.e6d1d6",
        "version": 3,
        "outputs": 2,
        "halt_if": "triggerTemp",
        "halt_if_type": "flow",
        "halt_if_compare": "gt",
        "entity_id": "sensor.innendors_innendors_innendors_utendors_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 380,
        "wires": [
            [],
            [
                "aa2ae8ab8e59f85c"
            ]
        ]
    },
    {
        "id": "aa2ae8ab8e59f85c",
        "type": "api-call-service",
        "z": "ddcb28a9773dd3ac",
        "name": "Stopp ved temperatur",
        "server": "282a7acb.e6d1d6",
        "version": 5,
        "debugenabled": true,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.eh_plantorke_plant_rke"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "261f8e8a88351c20"
            ]
        ]
    },
    {
        "id": "175a61bdbcba0ce5",
        "type": "api-current-state",
        "z": "ddcb28a9773dd3ac",
        "name": "Luftfuktighet",
        "server": "282a7acb.e6d1d6",
        "version": 3,
        "outputs": 2,
        "halt_if": "triggerHumid",
        "halt_if_type": "flow",
        "halt_if_compare": "lt",
        "entity_id": "sensor.innendors_innendors_innendors_utendors_humidity",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 440,
        "wires": [
            [],
            [
                "c79b2baa02ff6846"
            ]
        ]
    },
    {
        "id": "c79b2baa02ff6846",
        "type": "api-call-service",
        "z": "ddcb28a9773dd3ac",
        "name": "Stopp ved luftfuktighet",
        "server": "282a7acb.e6d1d6",
        "version": 5,
        "debugenabled": true,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.eh_plantorke_plant_rke"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "80e10af0dd617618"
            ]
        ]
    },
    {
        "id": "82a5fbae371ffbd7",
        "type": "change",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stoppet pga strømpris",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "TØRKE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "a27efe15d3950bd7"
            ]
        ]
    },
    {
        "id": "a27efe15d3950bd7",
        "type": "http request",
        "z": "ddcb28a9773dd3ac",
        "name": "Alert",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http/s://ntfy.sh/---add topic here-----",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Tags",
                "valueType": "other",
                "valueValue": "red_circle"
            }
        ],
        "x": 1030,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "261f8e8a88351c20",
        "type": "change",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stoppet pga temperatur",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "TØRKE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "a27efe15d3950bd7"
            ]
        ]
    },
    {
        "id": "80e10af0dd617618",
        "type": "change",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Title",
                "pt": "msg",
                "to": "TØRKE",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stoppet pga luftfuktighet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "a27efe15d3950bd7"
            ]
        ]
    },
    {
        "id": "9a1c307d7ddeef82",
        "type": "trigger-state",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "server": "282a7acb.e6d1d6",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_number.pt_terskel_spot",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "num",
                "comparatorValue": ""
            }
        ],
        "customOutputs": [],
        "outputInitially": true,
        "stateType": "num",
        "enableInput": false,
        "x": 280,
        "y": 40,
        "wires": [
            [],
            [
                "4bcf789107d185aa"
            ]
        ]
    },
    {
        "id": "4bcf789107d185aa",
        "type": "change",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "triggerPrice",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "35b0588a2b1b5639",
        "type": "trigger-state",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "server": "282a7acb.e6d1d6",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_number.pt_terskel_temp",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "num",
                "comparatorValue": ""
            }
        ],
        "customOutputs": [],
        "outputInitially": true,
        "stateType": "num",
        "enableInput": false,
        "x": 290,
        "y": 100,
        "wires": [
            [],
            [
                "870b44bc624a3f64"
            ]
        ]
    },
    {
        "id": "870b44bc624a3f64",
        "type": "change",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "triggerTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d9eaee0cb790452c",
        "type": "trigger-state",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "server": "282a7acb.e6d1d6",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "input_number.pt_terskel_fukt",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "num",
                "comparatorValue": ""
            }
        ],
        "customOutputs": [],
        "outputInitially": true,
        "stateType": "num",
        "enableInput": false,
        "x": 280,
        "y": 160,
        "wires": [
            [],
            [
                "990121416510fc69"
            ]
        ]
    },
    {
        "id": "990121416510fc69",
        "type": "change",
        "z": "ddcb28a9773dd3ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "triggerHumid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "282a7acb.e6d1d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]
